
.DS_Store
vIntegrationTools/vCompare/franke.config.php
/vIntegrationTools/vConnect/archive
/vIntegrationTools/vConnect/log
/vIntegrationTools/vConnect/incoming/service1
/vIntegrationTools/vConnect/incoming/service2
vIntegrationTools/vConnect/config.json.backup
